* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: blue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

:root {
    --primary-bg-white: rgb(185, 180, 180);
    --secondary-bg-white: rgb(77, 74, 74);
    --primary-color: black;
}

.name {
    font-size: 30px;
    border: 3px solid var(--secondary-bg-white);
    background-color: var(--primary-bg-white);
    padding: 10px 10px;
    border-radius: 20px;
}

h3 {
    margin: 10px;
}

h2 {
    text-transform: uppercase;
    text-decoration-line: underline;
    margin-bottom: 20px;
}

section {
    margin: 30px;
    padding: 20px 20px;
    border: 3px solid var(--secondary-bg-white);
    border-radius: 20px;
}

li {
    border: 3px solid var(--secondary-bg-white);
    background-color: aquamarine;
    padding: 10px 30px;
    font-size: 20px;
    border-radius: 30px;
    font-weight: bold;
}

p {
    padding: 10px 0px 10px 0px;
}

h1:hover {
    background-color: lightgreen;
    padding: 30px 50px;
    font-size: 50px;
}

h1:active {
    color: var(--primary-color);
    padding: 30px 50px;
    font-size: 50px;
}